:root {
    --primary-color: #b20000;
}

html {
    font-family: "REM", sans-serif;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-image: radial-gradient(ellipse at center, var(--primary-color), rgb(37, 1, 1));
}

.centralize {
    margin: 0 auto;
    max-width: 80vw;
}
.loading {
    background-image: radial-gradient(ellipse at center, var(--primary-color), rgb(37, 1, 1));
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    transition: opacity 0.5s ease;
}
.loading img {
    width: 15rem;
}
.loading-loader {
    width: 4rem;
    height: 4rem;
    border: 9px solid #e5e5e5;
    border-top-color: #5f0000;
    border-radius: 50%;
    animation: is-rotating 1s infinite;
}

.contentWarning {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: radial-gradient(ellipse at top left, var(--primary-color), rgb(37, 1, 1));
    transition: opacity 1s ease-in-out;
}
.contentWarning img {
    width: 15rem;
    margin: 3rem 0;
}
.contentWarning__display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 20rem;
    padding: 3rem 1rem 4rem;
    margin-bottom: 3rem;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 15px;
    background-color: white;
}
.contentWarning__display select {
    background-color: white;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    padding: 0.5rem;
    margin-top: -3rem;
    font-size: 1rem;
    cursor: pointer;
}
.btnConfirm {
    border: none;
    border-radius: 15px;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: var(--primary-color);
    cursor: pointer;
}
.btnConfirm:hover {
    background-color: #e40404;
}
.btnConfirm:active {
    background-color: #860808;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}
